* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdqF84cHkkjn6hPYB6U3SQC-ro7tFyPbUELjjgykBdBIWtNJ4m);
    font-family: 'Liu Jian Mao Cao', cursive;
}

#container {
    background-color: rgba(235, 52, 229, 0.4);
    width: 40vw;
    height: auto;
    position: relative;
    left: 30vw;
    z-index: 10;
    margin: 5vw 0;
}

figure {
    width: 30vw;
    height: 20vw;
    display: inline-block;
    margin: 0 5vw;
    z-index: 30;
    background-color: rgba(201, 149, 44, 1);
}

figure:nth-child(2n+1) {
    margin: 10vw 5vw;
}

img,.opaque_layer {
    width: inherit;
    height: inherit;
}
/* Non chiaro come scalare appropiatamente il testo!! */
.opaque_layer {
    text-align: center;
    line-height: 20vw;
    font-size: 200%;
    color: white;
    display: block;
    position: absolute;
    z-index: 50;
    background-color: rgba(201, 149, 44, 0.7);
}

.opaque_layer:hover {
    visibility: hidden;
}

img {
    border: thick solid rgb(74, 40, 73);
}
