* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    border: 1px solid orange;
    width: 40vw;
    padding: 1vw 5vw;
    height: auto;
    position: relative;
    left: 30vw;
    top: 5vh;
}

figure {
    border: 1px solid pink;
    width: 30vw;
    height: 20vw;
    display: inline-block;
    margin: 1vw;
}
