* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    background-color: purple;
    width: 40vw;
    height: auto;
    position: relative;
    left: 30vw;
    z-index: 10;
}

figure {
    width: 30vw;
    height: 20vw;
    display: inline-block;
    margin: 0 5vw;
    z-index: 30;
    background-color: pink;
}

figure:nth-child(2n+1) {
    background-color: yellow;
    margin: 10vw 5vw;
}
